html,body{
    min-height:100%;
    background-color: #202020;
 }

 footer {
    background-color: white;
 }

 .title{
    font-family: Georgia;
 }

 /* .pre{
    font-family: Georgia;
    color: white;
 } */

 input {
    width: 70%;
 }

 #heart{
    border-bottom: 2px solid black;
 }