html,body{
min-height:100%;
background-color: #202020;
}

footer {
background-color: white;
}

hr {
    background-color: white;
}

p{
    width: 100%;
}

.title{
font-family: Georgia;
}

.question{
font-family: Georgia;
color: yellowgreen;
/* color: greenyellow; */
}

.c{
font-family: Georgia;
color: magenta;
}

/* .pre{
font-family: Georgia;
color: white;
} */

input {
width: 70%;
}

#heart{
border-bottom: 2px solid black;
}